body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 40vw;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(16, 115, 42, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-grid {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-grid h1 {
    font-size: 25px;
    color: hsl(179, 62%, 43%);
}

.thirty-days {
    color: hsl(71, 73%, 54%);
    font-weight: bold;
    font-size: 20px;
}

.access {
    color: hsl(218, 22%, 67%);
}

.subscriptions div {
    padding: 15px;
}

.subscriptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.monthly {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background-color: hsl(179, 62%, 43%);
    height: 100%;
}

.why-us {
    color: white;
    background-color: hsl(218, 22%, 67%);
}

.sub-type {
    font-weight: 600;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dollar-price {
    font-size: 30px;
    font-weight: bold;
}

.price-period {
    color: hsl(0, 0%, 80%);
}

.monthly-text {
    display: flex;
    flex-direction: column;
    gap: 0;
}

button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.2s;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

@media (max-width: 550px) {
    .subscriptions {
        grid-template-columns: 1fr;
    }

    .container {
        width: 80vw;
        justify-content: center;
    }
}